#map-container {
    width: 50%;
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
}

#address-list-container {
    width: 50%;
    float: left;
}

#addressForm {
    margin-bottom: 20px; /* Add margin at the bottom of the form */
    display: flex;
    align-items: center;
}

input[type="text"],
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

input[type="text"] {
    background-color: #f0f0f0;
    color: #333;
    width: 200px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #66afe9;
    outline: none;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


#addressList {
    list-style-type: none;
    padding: 0;
}

#addressList li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addressList li button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

#input-label{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#title-label{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#stored-label {
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#starting-label{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#map {
    height: 400px;
    width: 100%;
}

#map-label{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#startingAddress {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#startingAddress:hover {
    background-color: #e0e0e0;
}

#startingAddress:focus {
    outline: none;
    border-color: #66afe9;
}