#map-container {
    width: 50%;
    float: right;
}

#address-list-container {
    width: 50%; /* Set the width to 50% of the parent container */
    float: left; /* Float the container to the left */
}

#addressForm {
    margin-bottom: 20px; /* Add margin at the bottom of the form */
    display: flex;
    align-items: center;
}

input[type="text"], button {
    margin-right: 10px; /* Add margin between input and button elements */
}

ul {
    list-style-type: none; /* Remove default bullet points from list */
    padding: 0; /* Remove default padding from list */
}

li {
    margin-bottom: 10px; /* Add margin between list items */
}

button {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

#input_label{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#stored_label {
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#map {
    height: 400px;
    width: 100%;
}

#address-list-container {
    width: 50%;
    float: left;
}