#map-container {
    width: 50%;
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
}

#address-list-container {
    width: 45%;
    float: left;
}

#input-container {
    display: flex;
    width: 100%;
    flex-direction: column; /* Arrange children vertically */
}

#address-column {
    margin-bottom: auto; /* Push this column to the top */
}

#input-buttons {
    margin-top: auto; /* Push this container to the bottom */
}

#addressInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: border-color 0.3s ease;
}

#addressInput:focus {
    border-color: #66afe9;
    outline: none;
}

#input-buttons button {
    margin-top: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-around; /* Evenly space the buttons */
}

#input-buttons button:hover {
    background-color: #0056b3;
}

#add-button {
    background-color: #007bff;
    color: #fff;
}

#submit-button {
    background-color: #007bff;
    color: #fff;
}

#reset-button {
    background-color: #007bff;
    color: #fff;
}

#addressForm {
    margin-bottom: 20px; /* Add margin at the bottom of the form */
    display: flex;
    align-items: center;
}

#input-container {
    display: flex;
    justify-content: space-between;
}

#input-buttons {
    padding: 15px;
    display: flex;
    justify-content: space-between; /* Evenly space out the buttons */
    width: 100%;
}

#input-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#input-buttons button:hover {
    background-color: #0056b3;
}

input[type="text"],
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

input[type="text"] {
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #66afe9;
    outline: none;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


#addressList {
    list-style-type: none;
    padding: 0;
}

#addressList li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addressList li button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 20px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}


#addressList li input {
    width: 20px; /* Adjust the width as needed */
    padding: 5px; /* Add padding for spacing */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 14px; /* Adjust the font size */
}

#addressList li input[type="checkbox"] {
    margin-right: 5px; /* Add margin to the right for spacing */
    transform: scale(1.5); /* Increase the size of the checkbox */
}

#counter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Adjust the width as needed */
    height: 30px; /* Set a fixed height */
    padding: 10px; /* Add padding for spacing */
    border-radius: 10px; /* Add rounded corners */
    background-color: #f2f2f2; /* Add a light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    font-size: 16px; /* Adjust the font size */
    color: #333; /* Set text color */
    position: relative; /* Position relative for absolute positioning */
}


/* Style for the counter input */
#checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Adjust the width as needed */
    height: 30px; /* Set a fixed height */
    padding: 10px; /* Add padding for spacing */
    border-radius: 10px; /* Add rounded corners */
    background-color: #f2f2f2; /* Add a light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    font-size: 16px; /* Adjust the font size */
    color: #333; /* Set text color */
    position: relative; /* Position relative for absolute positioning */
}

#input-label{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#title-label{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#stored-label {
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#starting-label{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#map {
    height: 400px;
    width: 100%;
}

#map-label{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
}

#startingAddress {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#startingAddress:hover {
    background-color: #e0e0e0;
}

#startingAddress:focus {
    outline: none;
    border-color: #66afe9;
}