<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1 id="title-label">Optipath Route Optimizer</h1>
    <div id="address-list-container">
        <h1 id="input-label">Input Addresses</h1>
        <form id="addressForm" onsubmit="return false;">
            <div id="input-container">
                <div id="address-column">
                    <input type="text" id="addressInput" placeholder="Enter Address">
                </div>
                <div id="input-buttons">
                <button id="add-button" onclick="addAddress()">Add Address</button>
                <button id="submit-button" onclick="submitAddresses()">Submit</button> <!-- New submit button -->
                <button id="reset-button" onclick="resetAddresses()">Reset Addresses</button> <!-- New reset button -->
                </div>
            </div>
        </form>
        <h2 id="stored-label">Stored Addresses</h2>
        <ul id="addressList">
            {% for addr in addresses %}
            <li id="address_{{ loop.index }}" data-address="{{ addr }}">{{ addr }}
                <div id="counter-wrapper">
                    <label for="counter_{{ loop.index }}">ID:</label>
                    <input type="number" id="counter_{{ loop.index }}" name="counter_{{ loop.index }}" min="1" value="1">
                </div>
                <div id="checkbox-wrapper">
                    <label for="checkbox_{{ loop.index }}">Pickup?</label>
                    <input type="checkbox" id="checkbox_{{ loop.index }}" name="checkbox_{{ loop.index }}">
                </div>
                <button onclick="deleteAddress(loop.index)">Delete</button>
            </li>
            {% endfor %}
        </ul>
        <h2 id="starting-label">Starting Address</h2>
        <select id="startingAddress">
        <!-- Options for starting addresses will be dynamically added here -->
        </select>
    </div>

    <div id="map-container">
        <h1 id="map-label">Google Maps</h1>
        <div id="map"></div>
    </div>

    <script src="{{ url_for('static', filename='render_map.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2vrCwPGqSKndmWSonQDy1zS3B3Lujx8I&callback=initMap" async defer></script>
</body>
</html>
